#displayShelf {
	-fx-background-color: white;
	//-fx-background-color: linear-gradient(to bottom, black 60, #141414 60.1%, black 100%);
}
#scrollBar {
		-fx-base: #202020; -fx-background: #202020;
	}

#mediaControl {
    // -fx-background-color: #bfc2c7;
    -fx-background-color: grey;
}

#mediaPlayerComponent {
    // -fx-background-color: #bfc2c7;
    -fx-background-color: grey;
}#mediaViewPane {
    -fx-background-color: white;
}
